# Assignement 1 study of Bachelor data from IS Academia

## useful imports

In [14]:
import pandas as pd

## Import Bachelor data

Reading the pickle with the bachelor data frame

In [15]:
bachelor_df = pd.read_pickle("bachelor")
bachelor_df.head()

                                      Civilité  Orientation Bachelor  \
Year      Semester            Sciper
2016-2017 Bachelor semestre 1 235688  Monsieur                   NaN
                              274015  Monsieur                   NaN
                              268410    Madame                   NaN
                              271464  Monsieur                   NaN
                              274518  Monsieur                   NaN

                                      Orientation Master  Spécialisation  \
Year      Semester            Sciper
2016-2017 Bachelor semestre 1 235688                 NaN             NaN
                              274015                 NaN             NaN
                              268410                 NaN             NaN
                              271464                 NaN             NaN
                              274518                 NaN             NaN

                                     Filière opt.  Mineur   Statut  \
Year      Semester            Sciper
2016-2017 Bachelor semestre 1 235688          NaN     NaN  Présent
                              274015          NaN     NaN  Présent
                              268410          NaN     NaN  Présent
                              271464          NaN     NaN  Présent
                              274518          NaN     NaN  Présent

                                     Type Echange Ecole Echange
Year      Semester            Sciper
2016-2017 Bachelor semestre 1 235688          NaN           NaN
                              274015          NaN           NaN
                              268410          NaN           NaN
                              271464          NaN           NaN
                              274518          NaN           NaN

All students that did semester 1 and 6

In [16]:
bachelor_sciper = s1.ix[s1.index & s6.index].index

In [17]:
s1 = bachelor_df.xs('Bachelor semestre 1', level=1)

s1 = s1[s1.Statut == 'Présent'].reset_index(0)

s6 = bachelor_df.xs('Bachelor semestre 6', level=1)

s6 = s6[s6.Statut == 'Présent'].reset_index(0)

bachelor_sciper = s1.ix[s1.index & s6.index].index

bachelor_s1_s6 = bachelor_df.loc[bachelor_df.index.get_level_values("Sciper").isin(bachelor_sciper.values)]

bachelor_s1_s6

                                      Civilité  Orientation Bachelor  \
Year      Semester            Sciper
2016-2017 Bachelor semestre 5 215576  Monsieur                   NaN
                              219665    Madame                   NaN
                              214939  Monsieur                   NaN
                              234523  Monsieur                   NaN
                              235493  Monsieur                   NaN
                              217575  Monsieur                   NaN
                              225258  Monsieur                   NaN
                              236716  Monsieur                   NaN
                              226647  Monsieur                   NaN
                              223344  Monsieur                   NaN
                              228275  Monsieur                   NaN
                              223892  Monsieur                   NaN
                              217098  Monsieur                   NaN
                              214293  Monsieur                   NaN
                              237482  Monsieur                   NaN
                              213287  Monsieur                   NaN
                              227359  Monsieur                   NaN
                              224297  Monsieur                   NaN
                              227311    Madame                   NaN
                              204324  Monsieur                   NaN
                              238150  Monsieur                   NaN
                              216801    Madame                   NaN
                              225691  Monsieur                   NaN
                              228149    Madame                   NaN
                              212826  Monsieur                   NaN
                              237151  Monsieur                   NaN
                              226652  Monsieur                   NaN
          Bachelor semestre 6 227311    Madame                   NaN
2015-2016 Bachelor semestre 5 202293  Monsieur                   NaN
                              228219  Monsieur                   NaN
...                                        ...                   ...
2007-2008 Bachelor semestre 1 175280  Monsieur                   NaN
          Bachelor semestre 2 169569  Monsieur                   NaN
                              174905  Monsieur                   NaN
                              179406  Monsieur                   NaN
                              179428  Monsieur                   NaN
                              179449  Monsieur                   NaN
                              178553  Monsieur                   NaN
                              179426  Monsieur                   NaN
                              180731  Monsieur                   NaN
                              171619  Monsieur                   NaN
                              179157  Monsieur                   NaN
                              178711  Monsieur                   NaN
                              178786  Monsieur                   NaN
                              178656  Monsieur                   NaN
                              178718  Monsieur                   NaN
                              181121  Monsieur                   NaN
                              175379  Monsieur                   NaN
                              178604  Monsieur                   NaN
                              175190  Monsieur                   NaN
                              181248  Monsieur                   NaN
                              181244  Monsieur                   NaN
                              169731  Monsieur                   NaN
                              181076  Monsieur                   NaN
                              181115  Monsieur                   NaN
                              180094  Monsieur                   NaN
                              171195  Monsieur                   NaN
                              178948  Monsieur                   NaN
                              169795  Monsieur                   NaN
                              178684  Monsieur                   NaN
                              175280  Monsieur                   NaN

                                      Orientation Master  Spécialisation  \
Year      Semester            Sciper
2016-2017 Bachelor semestre 5 215576                 NaN             NaN
                              219665                 NaN             NaN
                              214939                 NaN             NaN
                              234523                 NaN             NaN
                              235493                 NaN             NaN
                              217575                 NaN             NaN
                              225258                 NaN             NaN
                              236716                 NaN             NaN
                              226647                 NaN             NaN
                              223344                 NaN             NaN
                              228275                 NaN             NaN
                              223892                 NaN             NaN
                              217098                 NaN             NaN
                              214293                 NaN             NaN
                              237482                 NaN             NaN
                              213287                 NaN             NaN
                              227359                 NaN             NaN
                              224297                 NaN             NaN
                              227311                 NaN             NaN
                              204324                 NaN             NaN
                              238150                 NaN             NaN
                              216801                 NaN             NaN
                              225691                 NaN             NaN
                              228149                 NaN             NaN
                              212826                 NaN             NaN
                              237151                 NaN             NaN
                              226652                 NaN             NaN
          Bachelor semestre 6 227311                 NaN             NaN
2015-2016 Bachelor semestre 5 202293                 NaN             NaN
                              228219                 NaN             NaN
...                                                  ...             ...
2007-2008 Bachelor semestre 1 175280                 NaN             NaN
          Bachelor semestre 2 169569                 NaN             NaN
                              174905                 NaN             NaN
                              179406                 NaN             NaN
                              179428                 NaN             NaN
                              179449                 NaN             NaN
                              178553                 NaN             NaN
                              179426                 NaN             NaN
                              180731                 NaN             NaN
                              171619                 NaN             NaN
                              179157                 NaN             NaN
                              178711                 NaN             NaN
                              178786                 NaN             NaN
                              178656                 NaN             NaN
                              178718                 NaN             NaN
                              181121                 NaN             NaN
                              175379                 NaN             NaN
                              178604                 NaN             NaN
                              175190                 NaN             NaN
                              181248                 NaN             NaN
                              181244                 NaN             NaN
                              169731                 NaN             NaN
                              181076                 NaN             NaN
                              181115                 NaN             NaN
                              180094                 NaN             NaN
                              171195                 NaN             NaN
                              178948                 NaN             NaN
                              169795                 NaN             NaN
                              178684                 NaN             NaN
                              175280                 NaN             NaN

                                              Filière opt.  Mineur   Statut  \
Year      Semester            Sciper
2016-2017 Bachelor semestre 5 215576                   NaN     NaN    Congé
                              219665  6 - Visual computing     NaN  Présent
                              214939  6 - Visual computing     NaN  Présent
                              234523  6 - Visual computing     NaN  Présent
                              235493  6 - Visual computing     NaN  Présent
                              217575  6 - Visual computing     NaN  Présent
                              225258                   NaN     NaN  Présent
                              236716  6 - Visual computing     NaN  Présent
                              226647                   NaN     NaN  Présent
                              223344                   NaN     NaN  Présent
                              228275      7 - Biocomputing     NaN  Présent
                              223892  6 - Visual computing     NaN  Présent
                              217098                   NaN     NaN  Présent
                              214293                   NaN     NaN  Présent
                              237482                   NaN     NaN    Congé
                              213287                   NaN     NaN  Présent
                              227359                   NaN     NaN  Présent
                              224297  6 - Visual computing     NaN  Présent
                              227311  6 - Visual computing     NaN    Congé
                              204324                   NaN     NaN  Présent
                              238150  6 - Visual computing     NaN  Présent
                              216801                   NaN     NaN  Présent
                              225691  6 - Visual computing     NaN  Présent
                              228149                   NaN     NaN  Présent
                              212826                   NaN     NaN  Présent
                              237151  6 - Visual computing     NaN  Présent
                              226652                   NaN     NaN  Présent
          Bachelor semestre 6 227311  6 - Visual computing     NaN    Congé
2015-2016 Bachelor semestre 5 202293                   NaN     NaN    Congé
                              228219  6 - Visual computing     NaN  Présent
...                                                    ...     ...      ...
2007-2008 Bachelor semestre 1 175280                   NaN     NaN  Présent
          Bachelor semestre 2 169569                   NaN     NaN  Présent
                              174905                   NaN     NaN  Présent
                              179406                   NaN     NaN  Présent
                              179428                   NaN     NaN  Présent
                              179449                   NaN     NaN  Présent
                              178553                   NaN     NaN  Présent
                              179426                   NaN     NaN  Présent
                              180731                   NaN     NaN  Présent
                              171619                   NaN     NaN  Présent
                              179157                   NaN     NaN  Présent
                              178711                   NaN     NaN  Présent
                              178786                   NaN     NaN  Présent
                              178656                   NaN     NaN  Présent
                              178718                   NaN     NaN  Présent
                              181121                   NaN     NaN  Présent
                              175379                   NaN     NaN    Congé
                              178604                   NaN     NaN  Présent
                              175190                   NaN     NaN  Présent
                              181248                   NaN     NaN  Présent
                              181244                   NaN     NaN  Présent
                              169731                   NaN     NaN  Présent
                              181076                   NaN     NaN  Présent
                              181115                   NaN     NaN  Présent
                              180094                   NaN     NaN  Présent
                              171195                   NaN     NaN  Présent
                              178948                   NaN     NaN  Présent
                              169795                   NaN     NaN  Présent
                              178684                   NaN     NaN  Présent
                              175280                   NaN     NaN  Présent

                                     Type Echange  \
Year      Semester            Sciper
2016-2017 Bachelor semestre 5 215576          NaN
                              219665          NaN
                              214939          NaN
                              234523          NaN
                              235493          NaN
                              217575          NaN
                              225258          NaN
                              236716          NaN
                              226647          NaN
                              223344          NaN
                              228275          NaN
                              223892          NaN
                              217098          NaN
                              214293          NaN
                              237482          NaN
                              213287          NaN
                              227359          NaN
                              224297          NaN
                              227311      Erasmus
                              204324          NaN
                              238150          NaN
                              216801          NaN
                              225691          NaN
                              228149          NaN
                              212826          NaN
                              237151          NaN
                              226652          NaN
          Bachelor semestre 6 227311      Erasmus
2015-2016 Bachelor semestre 5 202293          NaN
                              228219          NaN
...                                           ...
2007-2008 Bachelor semestre 1 175280          NaN
          Bachelor semestre 2 169569          NaN
                              174905          NaN
                              179406          NaN
                              179428          NaN
                              179449          NaN
                              178553          NaN
                              179426          NaN
                              180731          NaN
                              171619          NaN
                              179157          NaN
                              178711          NaN
                              178786          NaN
                              178656          NaN
                              178718          NaN
                              181121          NaN
                              175379          NaN
                              178604          NaN
                              175190          NaN
                              181248          NaN
                              181244          NaN
                              169731          NaN
                              181076          NaN
                              181115          NaN
                              180094          NaN
                              171195          NaN
                              178948          NaN
                              169795          NaN
                              178684          NaN
                              175280          NaN

                                                                          Ecole Echange
Year      Semester            Sciper
2016-2017 Bachelor semestre 5 215576                                                NaN
                              219665                                                NaN
                              214939                                                NaN
                              234523                                                NaN
                              235493                                                NaN
                              217575                                                NaN
                              225258                                                NaN
                              236716                                                NaN
                              226647                                                NaN
                              223344                                                NaN
                              228275                                                NaN
                              223892                                                NaN
                              217098                                                NaN
                              214293                                                NaN
                              237482                                                NaN
                              213287                                                NaN
                              227359                                                NaN
                              224297                                                NaN
                              227311  Rheinisch-Westfälische Technische Hochschule A...
                              204324                                                NaN
                              238150                                                NaN
                              216801                                                NaN
                              225691                                                NaN
                              228149                                                NaN
                              212826                                                NaN
                              237151                                                NaN
                              226652                                                NaN
          Bachelor semestre 6 227311  Rheinisch-Westfälische Technische Hochschule A...
2015-2016 Bachelor semestre 5 202293                                                NaN
                              228219                                                NaN
...                                                                                 ...
2007-2008 Bachelor semestre 1 175280                                                NaN
          Bachelor semestre 2 169569                                                NaN
                              174905                                                NaN
                              179406                                                NaN

In [112]:
idx = pd.index
bachelor_s1_s6.sort_index(level=[0,1,2], inplace=True)
bachelor_s1_s6.loc[("2016-2017",slice(None),slice(None)),:]

/usr/local/lib/python3.5/dist-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

                                      Civilité  Orientation Bachelor  \
Year      Semester            Sciper
2016-2017 Bachelor semestre 5 204324  Monsieur                   NaN
                              212826  Monsieur                   NaN
                              213287  Monsieur                   NaN
                              214293  Monsieur                   NaN
                              214939  Monsieur                   NaN
                              215576  Monsieur                   NaN
                              216801    Madame                   NaN
                              217098  Monsieur                   NaN
                              217575  Monsieur                   NaN
                              219665    Madame                   NaN
                              223344  Monsieur                   NaN
                              223892  Monsieur                   NaN
                              224297  Monsieur                   NaN
                              225258  Monsieur                   NaN
                              225691  Monsieur                   NaN
                              226647  Monsieur                   NaN
                              226652  Monsieur                   NaN
                              227311    Madame                   NaN
                              227359  Monsieur                   NaN
                              228149    Madame                   NaN
                              228275  Monsieur                   NaN
                              234523  Monsieur                   NaN
                              235493  Monsieur                   NaN
                              236716  Monsieur                   NaN
                              237151  Monsieur                   NaN
                              237482  Monsieur                   NaN
                              238150  Monsieur                   NaN
          Bachelor semestre 6 227311    Madame                   NaN

                                      Orientation Master  Spécialisation  \
Year      Semester            Sciper
2016-2017 Bachelor semestre 5 204324                 NaN             NaN
                              212826                 NaN             NaN
                              213287                 NaN             NaN
                              214293                 NaN             NaN
                              214939                 NaN             NaN
                              215576                 NaN             NaN
                              216801                 NaN             NaN
                              217098                 NaN             NaN
                              217575                 NaN             NaN
                              219665                 NaN             NaN
                              223344                 NaN             NaN
                              223892                 NaN             NaN
                              224297                 NaN             NaN
                              225258                 NaN             NaN
                              225691                 NaN             NaN
                              226647                 NaN             NaN
                              226652                 NaN             NaN
                              227311                 NaN             NaN
                              227359                 NaN             NaN
                              228149                 NaN             NaN
                              228275                 NaN             NaN
                              234523                 NaN             NaN
                              235493                 NaN             NaN
                              236716                 NaN             NaN
                              237151                 NaN             NaN
                              237482                 NaN             NaN
                              238150                 NaN             NaN
          Bachelor semestre 6 227311                 NaN             NaN

                                              Filière opt.  Mineur   Statut  \
Year      Semester            Sciper
2016-2017 Bachelor semestre 5 204324                   NaN     NaN  Présent
                              212826                   NaN     NaN  Présent
                              213287                   NaN     NaN  Présent
                              214293                   NaN     NaN  Présent
                              214939  6 - Visual computing     NaN  Présent
                              215576                   NaN     NaN    Congé
                              216801                   NaN     NaN  Présent
                              217098                   NaN     NaN  Présent
                              217575  6 - Visual computing     NaN  Présent
                              219665  6 - Visual computing     NaN  Présent
                              223344                   NaN     NaN  Présent
                              223892  6 - Visual computing     NaN  Présent
                              224297  6 - Visual computing     NaN  Présent
                              225258                   NaN     NaN  Présent
                              225691  6 - Visual computing     NaN  Présent
                              226647                   NaN     NaN  Présent
                              226652                   NaN     NaN  Présent
                              227311  6 - Visual computing     NaN    Congé
                              227359                   NaN     NaN  Présent
                              228149                   NaN     NaN  Présent
                              228275      7 - Biocomputing     NaN  Présent
                              234523  6 - Visual computing     NaN  Présent
                              235493  6 - Visual computing     NaN  Présent
                              236716  6 - Visual computing     NaN  Présent
                              237151  6 - Visual computing     NaN  Présent
                              237482                   NaN     NaN    Congé
                              238150  6 - Visual computing     NaN  Présent
          Bachelor semestre 6 227311  6 - Visual computing     NaN    Congé

                                     Type Echange  \
Year      Semester            Sciper
2016-2017 Bachelor semestre 5 204324          NaN
                              212826          NaN
                              213287          NaN
                              214293          NaN
                              214939          NaN
                              215576          NaN
                              216801          NaN
                              217098          NaN
                              217575          NaN
                              219665          NaN
                              223344          NaN
                              223892          NaN
                              224297          NaN
                              225258          NaN
                              225691          NaN
                              226647          NaN
                              226652          NaN
                              227311      Erasmus
                              227359          NaN
                              228149          NaN
                              228275          NaN
                              234523          NaN
                              235493          NaN
                              236716          NaN
                              237151          NaN
                              237482          NaN
                              238150          NaN
          Bachelor semestre 6 227311      Erasmus

                                                                          Ecole Echange
Year      Semester            Sciper
2016-2017 Bachelor semestre 5 204324                                                NaN
                              212826                                                NaN
                              213287                                                NaN
                              214293                                                NaN
                              214939                                                NaN
                              215576                                                NaN
                              216801                                                NaN
                              217098                                                NaN
                              217575                                                NaN
                              219665                                                NaN
                              223344                                                NaN
                              223892                                                NaN
                              224297                                                NaN
                              225258                                                NaN
                              225691                                                NaN
                              226647                                                NaN
                              226652                                                NaN
                              227311  Rheinisch-Westfälische Technische Hochschule A...
                              227359                                                NaN
                              228149                                                NaN
                              228275                                                NaN
                              234523                                                NaN
                              235493                                                NaN
                              236716                                                NaN
                              237151                                                NaN
                              237482                                                NaN
                              238150                                                NaN
          Bachelor semestre 6 227311  Rheinisch-Westfälische Technische Hochschule A...

## Compute the number of semesters spent for the Bachelor

Let's find how many semesters each student spent for to get its Bachelor. To do we iterate over all the scipers and count the number of status (that includes semesters in Erasmus exchange and 'off semesters' as well):

In [151]:
bachelor_semesters = []
scipers = bachelor_s1_s6.index.get_level_values(2).drop_duplicates()

for sciper in scipers:
    student = bachelor_s1_s6.xs(sciper, level=2)
    num_sems = student['Statut'].count()
    civ = student['Civilité'][0]
    bachelor_semesters.append([sciper, civ, num_sems])

bachelor_semesters = pd.DataFrame(bachelor_semesters,columns=['Sciper', 'Civilité', 'Number of semesters'])

We now group the results by the 'Civilité' and average the number of semesters

In [196]:
pop = bachelor_semesters.groupby(bachelor_semesters.Civilité)['Civilité'].count()
mean = bachelor_semesters.groupby(bachelor_semesters.Civilité)['Number of semesters'].mean()
pd.concat([pop,mean], axis=1, keys=['Count','Number of semesters'])

          Count  Number of semesters
Civilité
Madame       24             6.958333
Monsieur    273             7.249084